.btn-common {
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s;
  color: inherit;
}

.btn-danger {
  background: #71200f;
}
.btn-success {
  background: #4caf50;
}

.btn-common:hover,
.btn-common:focus {
  opacity: 1;
  outline: none;
}
