.lobby-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobby-player-avatar {
  width: 30vh;
  height: 30vh;
  margin: 0 1rem;
  overflow: hidden;
}

.lobby-player-nickname {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.lobby-player-status {
  width: 22px;
  height: 22px;
  background: red;
  border-radius: 50%;
  margin-right: 12px;
}

.lobby-player-status-ready {
  background: green;
} 
