.preview {
  position: relative;
  display: flex;
  flex-direction: column;
}

.preview > .html-viewer {
  aspect-ratio: 1;
  margin: 0.5rem 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.preview > .scores {
  flex: 1;
  margin: 0.5rem 0;
}
