.viewer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.viewer > .html-viewer,
.viewer > .code-viewer {
  flex: 1;
}

.code-viewer {
  border-right: solid 1px #c7a32a;
}

.cursor {
  display: inline-block;
  position: absolute;
  width: 1ch;
  height: 100%;
  background-color: #fff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.player-name {
  position: absolute;
  top: 50%;
  right: 0;
  background: #c7a32a;
  padding: 0.5rem 1rem;
  z-index: 10;
  color: #181a1a;
  user-select: none;
}

.html-viewer {
  border: none;
  background: #cfd8cc;
}
