.viewer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.viewer > .html-viewer,
.viewer > .code-viewer {
  flex: 0 0 calc(50vh - 1rem);
  margin: 0.5rem 0;
}

.code-viewer {
  position: relative;
}

.cursor {
  display: inline-block;
  position: absolute;
  width: 1ch;
  height: 100%;
  background-color: #fff;
  animation: blink 1s step-end infinite;
}

.player-name {
  position: absolute;
  top: 50%;
  right: 0;
  background: #c7a32a;
  padding: 0.5rem 1rem;
  z-index: 10;
  color: #181a1a;
  user-select: none;
}

.html-viewer {
  position: relative;
  background: #cfd8cc;
}

.html-viewer > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  background: inherit;
}

.html-viewer > iframe.above {
  z-index: 2;
}

.html-viewer > iframe.below {
  z-index: 1;
}

.CodeMirror {
  position: absolute;
  width: 100%;
  height: 100%;
}
