.playground-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  user-select: none;
}

.playground {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.code-editor {
  position: relative;
  flex: 1;
  margin: 0.5rem;
}

.code-editor > .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  position: relative;
  flex: 0 0 calc(100vw / 3);
}

.sidebar-preview {
  margin: 0.5rem;
  width: calc(100% - 1rem);
  aspect-ratio: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
