.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nickname {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.nickname-letter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: 1.3rem;
  height: 2.4rem;
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  border-bottom: 0.3rem solid var(--color-yellow);
}

.nickname-letter.active::before {
  content: '';
  position: absolute;
  background: var(--color-white-transparent);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: blink 1s step-end infinite;
}
