.gameEditor {
  width: 100%;
  height: 100%;
}

.gameTask {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 70vh;
  background: red;
  user-select: none;
  transition: transform 0.25s, opacity 0.25s;
  transform-origin: 100% 100%;
  transform: scale(0.5);
  opacity: 0.5;
}

.gameTask:hover {
  transform: scale(1);
  opacity: 1;
}

.abandon-game {
  position: absolute;
  border: none;
  bottom: 1rem;
  right: 3rem;
  padding: 0.4rem 1rem;
  background: #71200f;
  color: inherit;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.abandon-game-confirm {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  display: flex;
  align-items: center;
}

.abandon-game-confirm * {
  margin-left: 0.5rem;
} 

.abandon-game-confirm .confirm-message {
  color: #569cd6;
  font-size: 18px;
} 

.abandon-game-confirm button {
  border: none;
  padding: 0.4rem 1rem;
  color: inherit;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s;
}

.abandon-game-confirm .button-yes {
  background: #71200f;
}

.abandon-game-confirm .button-no {
  background: green;
}

.abandon-game:hover,
.abandon-game:focus,
.abandon-game-confirm button:hover,
.abandon-game-confirm button:focus {
  opacity: 1;
  outline: none;
}
