* {
  box-sizing: border-box;
}

html, body, main {
  --color-white: rgb(207, 216, 204);
  --color-white-transparent: rgba(207, 216, 204, 0.5);
  --color-red: rgb(119, 33, 18);
  --color-red-transparent: rgba(119, 33, 18, 0.5);
  --color-blue: rgb(10, 53, 75);
  --color-yellow: rgb(199, 164, 41);
  --color-yellow-transparent: rgba(199, 164, 41, 0.8);
  --color-background: rgb(25, 28, 27);

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-white);
  background-color: var(--color-background);
}

.box-glitchy-red {
  border: none;
  color: var(--color-white);
  background-color: var(--color-red);
  box-shadow:
    var(--color-yellow-transparent) 0.2rem 0.2rem 0,
    var(--color-white-transparent) -0.2rem 0.4rem 0,
    var(--color-blue) 0.4rem -0.2rem 0;
}

.box-glitchy-white {
  border: none;
  background-color: var(--color-white);
  box-shadow:
    var(--color-yellow-transparent) 0.2rem 0.2rem 0,
    var(--color-red-transparent) -0.2rem 0.4rem 0,
    var(--color-blue) 0.4rem -0.2rem 0;
}

.button-glitchy-yellow {
  margin-top: 2rem;
  border: none;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  outline-width: 0;
  color: var(--color-white);
  background-color: var(--color-yellow);
  box-shadow:
    var(--color-white-transparent) 0.2rem 0.2rem 0,
    var(--color-blue) -0.2rem 0.4rem 0,
    var(--color-red) 0.4rem -0.2rem 0;
}

.text-glitchy-large {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-yellow);
  text-shadow:
    var(--color-white-transparent) 0.15rem 0.15rem 0,
    var(--color-red) 0.3rem 0 0,
    var(--color-blue) 0 0.3rem 0;
}

.text-glitchy-medium {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-yellow);
  text-shadow:
    var(--color-white-transparent) 0.05rem 0.05rem 0,
    var(--color-blue) 0 0.15rem 0,
    var(--color-red) 0.15rem 0 0;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
