.lobby {
  min-height: 100%;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.lobby-join,
.lobby-the,
.lobby-fun {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.lobby-nickname {
  position: absolute;
  top: 20vh;
  left: 20vw;
  transform: rotate(-5deg);
  border: solid 1rem #c7a429;
  width: 50vw;
  font-size: 30px;
  padding: 1rem;
  outline-width: 0;
  text-align: center;
}

.lobby-join {
  top: 35vh;
  left: 20vw;
  width: 40vw;
  height: 20vh;
  background: #0a354b;
  transform: rotate(-15deg);
}

.lobby-the {
  width: 25vw;
  height: 25vh;
  top: 40vh;
  left: 50vw;
  background: #772112;
  transform: rotate(-15deg);
}

.lobby-fun {
  top: 60vh;
  right: 20vw;
  width: 40vw;
  height: 20vh;
  background: #c7a429;
  transform: rotate(15deg);
}
